body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  background: gray;
}

h1, h2 {
  margin-top: 20px;
  color: #000;
}

p {
  font-size: 18px;
  margin: 10px auto;
  width: 80%;
}

input[type="text"] {
  width: 60%;
  padding: 8px;
  margin: 5px;
  border: 1px solid #444;
  border-radius: 4px;
}

table {
  margin: 15px auto;
  border-collapse: collapse;
  width: 60%;
  background-color: #ffffffdd;
}


.button-like {
  display: inline-block;
  margin: 10px;
  padding: 12px 28px;
  background-color: #6b6b6b;
  color: #fff;
 
}

.button-like:hover {
  background-color: #bc9520;
  box-shadow: 0 0 10px #bc9520, 0 0 20px #ffc32b;
}

nav {
  margin-top: 30px;
}
@media (max-width: 600px) {
  input[type="text"], table, iframe {
    width: 90%;
  }
}
