html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(
        to right,
        #138808 33.33%,
        #FFFFFF 33.33% 66.66%,
        #ff7c17 66.66%
    );
}

.button-like {
    display: inline-block;
    margin: 10px;
    padding: 12px 28px;
    background-color: #6b6b6b;
    color: white;
}

.button-like:hover {
    background-color: #daa520; 
    box-shadow: 0 0 20px #daa520;
}

body.steps-page {
    background-image: url("FitRunner.jpeg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.steps-page h1,
body.steps-page h3,
body.steps-page h4,
body.steps-page table,
body.steps-page a {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

