html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(
        to right,
        #138808 33.33%,
        #FFFFFF 33.33% 66.66%,
        #ff7c17 66.66%
    );
}

.button-like {
    display: inline-block;
    margin: 10px;
    padding: 12px 28px;
    background-color: #6b6b6b;
    color: white;
}

.button-like:hover {
    background-color: #daa520; 
    box-shadow: 0 0 20px #daa520;
}

body.steps-page {
    background-image: url("iamge/FitRunner.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

body.steps-page h1,
body.steps-page h3,
body.steps-page h4,
body.steps-page table,
body.steps-page a {
    background-color: transparent;
    color: white;
    padding: 0;
    border-radius: 0;
    margin: 10px auto;
}

body.steps-page table {
    margin: 20px auto;
    color: white;
    border-collapse: collapse;
    width: 80%;
}

body.steps-page table th,
body.steps-page table td {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}



